<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"> Início</a></li>
      <li class="breadcrumb-item active" aria-current="page">Funcionários</li>
    </ol>
  </nav>

  <div class="row">


    <div class="col-md-12">
      <h3>Lista de Funcionários</h3>

        <div class="form-row align-items-center  mg-top-bg">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Procurar Funcionário</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
              </div>
              <input type="text" class="form-control" id="search" [(ngModel)]="name.name" placeholder="Buscar Funcionário">
            </div>
          </div>

          <div class="col-auto">
            <button type="button" (click)="searchEmployee()" class="btn btn-primary mb-2">Buscar</button>
            <a routerLink="/admin/funcionarios/inserir" class="btn btn-success mb-2"><i class="fas fa-plus"></i> Adicionar</a>
          </div>
        </div>
      <br>

      <div class="table-responsive">
        <table class="table table-sm">
            <caption>Lista de Funcionário</caption>
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Departamento</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let emp of employeeList?.content">
                <td scope="row">{{ emp.id }}</td>
                <td>{{ emp.name }}</td>
                <td><a href="mailto:{{ emp.email }}">{{ emp.email }}</a></td>
                <td>{{ emp.department }}</td>
                <td>
                  <a routerLink="/admin/funcionarios/editar/{{ emp.id }}" title="Editar Cadastro"><i class="fas fa-edit"></i> Editar</a>
                  &nbsp;
                  <a class="danger" (click)="open(content, emp.id)"  title="Excluir"><i class="fas fa-times"></i> Excluir</a>
                  &nbsp;
                  <a class="blue" (click)="attach(sensorModal, emp.id)"  title="Adicionar Sensor"><i class="fas fa-sign-out-alt"></i>Add Sensor</a>
                </td>
              </tr>

              <tr *ngIf="!employeeList"> 
                <td colspan="5">Nenhum funcionário cadastrado. <a routerLink="/admin/funcionarios/inserir">Cadastre um para começar.</a></td>
              </tr>



            </tbody>
          </table>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link blue" *ngIf="employeeList?.number > 0" (click)="getPage(employeeList?.number - 1)" > <i class="fas fa-angle-left"></i> Página Anterior</a></li>
              <li class="page-item"><a class="page-link blue" *ngIf="employeeList?.number < (employeeList?.totalPages - 1)" (click)="getPage(employeeList?.number + 1)" >Próxima Página <i class="fas fa-angle-right"></i></a></li>
            </ul>
          </nav>

    </div>
  
    </div>
 

      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Atenção</h4>
          <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Este registro está prestes a ser excluído! Tem certeza?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c()">Fechar</button>
          <button type="button" class="btn btn-danger"  (click)="excluir()">Excluir</button>
        </div>
      </ng-template>

      <ng-template #sensorModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Atrelar Sensor ao Funcionário</h4>
          <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Digite o Código do Sensor</p>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="code" id="codigo">
            <small class="form-text text-muted">Códigos inexistentes serão barrados.</small>
          </div>
          <br>
          <p>Ou o Código de Barras</p>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="barcode" id="barcode">
            <small class="form-text text-muted">Códigos inexistentes serão barrados.</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c()">Fechar</button>
          <button type="button" class="btn btn-success"  (click)="adicionarSensor()">Adicionar</button>
        </div>
      </ng-template>