<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin"><i class="fas fa-home"></i> Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Perfil</li>
  </ol>
</nav>

<div class="row mg-top">
    <div class="col-md-6 mg-top">
      <h3>Perfil</h3>
    </div>
</div>
<div class="row">
  <div class="col-md-6 mg-top">

    <div class="form-group">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" class="form-control" id="name">
    </div>

    <div class="form-group">
        <label for="password1">Senha</label>
        <input type="password" class="form-control" id="password1">
      </div>

    <a routerLink="/admin" class="btn btn-primary">Atualizar</a>
    
  </div>

  <div class="col-md-6 mg-top">
      
      <div class="form-group">
        <label for="formGroupExampleInput2">E-Mail</label>
        <input type="email" class="form-control" id="email">
      </div>

      <div class="form-group">
        <label for="password2">Confirmar Senha</label>
        <input type="password" class="form-control" id="password2">
      </div>
  </div>


</div>