<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin"> Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sensores</li>
  </ol>
</nav>

<div class="row">


  <div class="col-md-12">
    <h3>Lista de Sensores</h3>

      <div class="form-row align-items-center  mg-top-bg">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Procurar Sensor</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
            <input type="text" class="form-control" id="searchSensor" [(ngModel)]="code.code" placeholder="Buscar Sensor">
          </div>
        </div>

        <div class="col-auto">
          <button type="submit" (click)="searchSensors()" class="btn btn-primary mb-2">Buscar</button>
          <a routerLink="/admin/sensores/inserir" class="btn btn-success mb-2"><i class="fas fa-plus"></i> Adicionar</a>
        </div>
      </div>
    <br>

    <div class="table-responsive">
      <table class="table table-sm">
          <caption>Lista de Sensores</caption>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Descrição</th>
              <th scope="col">Código</th>
              <th scope="col">Código de Barras</th>
              <th scope="col">Funcionário</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let s of SensorList?.content">
              <td scope="row">{{ s.id }}</td>
              <td>{{ s.description }}</td>
              <td>{{ s.code }}</td>
              <td>{{ s.barcode }}</td>
              <td *ngIf="s.employee"><a routerLink="/admin/map/funcionario/{{ s.employee?.id }}"><i class="fas fa-map-marker-alt"></i> {{ s.employee?.name }}</a></td>
              <td *ngIf="!s.employee" class="brown">Desacoplado</td>
              <td>
                <a routerLink="/admin/sensores/editar/{{ s.id }}" title="Editar Cadastro"><i class="fas fa-edit"></i> Editar</a>
                &nbsp;
                <a class="danger" (click)="open(content, s.id)" title="Excluir"><i class="fas fa-times"></i> Excluir</a>
              </td>
            </tr>

            <tr *ngIf="!SensorList"> 
              <td colspan="3">Nenhum sensor cadastrado. <a routerLink="/admin/sensores/inserir">Cadastre um para começar.</a></td>
            </tr>



          </tbody>
        </table>
      </div>

      <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link blue" *ngIf="SensorList?.number > 0" (click)="getPage(SensorList?.number - 1)" > <i class="fas fa-angle-left"></i> Página Anterior</a></li>
            <li class="page-item"><a class="page-link blue" *ngIf="SensorList?.number < (SensorList?.totalPages - 1)" (click)="getPage(SensorList?.number + 1)" >Próxima Página <i class="fas fa-angle-right"></i></a></li>
          </ul>
        </nav>

  </div>

  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Atenção</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Este registro está prestes a ser excluído! Tem certeza?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c()">Fechar</button>
      <button type="button" class="btn btn-danger"  (click)="excluir()">Excluir</button>
    </div>
  </ng-template>