<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a routerLink="/admin"><i class="fas fa-home"></i> Painel</a></li>
  </ol>
</nav>



  <div class="row">


    <div class="col-md-12">
      <h3>Status dos Sensores</h3>

        <div class="form-row align-items-center  mg-top-bg">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Buscar Lutocar</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar Lutocar">
            </div>
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
          </div>
        </div>
      <br>

      <div class="table-responsive">
        <table class="table table-sm">
            <caption>Status dos Lutocars</caption>
            <thead>
              <tr>
                <th scope="col">Cód. Sensor</th>
                <th scope="col">Funcionário</th>
                <th scope="col">Última Localização</th>
                <th scope="col">Data e Hora</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>

            <ng-container >
              <tr *ngFor="let emp of employeeList?.content" >
                <td scope="row"><a routerLink="/admin/sensores/editar/{{ emp.sensor.id }}" title="Editar Cadastro"><i class="fas fa-edit"></i> {{ emp.sensor.code }}</a></td>
                <td><a routerLink="/admin/funcionarios/editar/{{ emp.id }}" title="Editar Cadastro"><i class="fas fa-user-edit"></i> {{ emp.name }}</a></td>
                <td *ngIf="emp.sensor?.lastKnowPosition" ><a routerLink="/admin/map/funcionario/{{ emp.id }}"><i class="fas fa-map-marker-alt"></i> {{ emp.sensor?.lastKnowPosition.latitude }}, {{ emp.sensor?.lastKnowPosition.longitude }}</a></td>
                <td *ngIf="emp.sensor?.lastKnowPosition" >{{ emp.sensor?.lastKnowPosition.date | date:'dd/MM/yyyy HH:mm' }}</td>
                <td *ngIf="!emp.sensor?.lastKnowPosition" colspan="2" class="green"><i class="fas fa-clock"></i> Atualizando ...</td>
                <td>
                  <a class="danger" (click)="dettach(emp.sensor.code)"  title="Remover Sensor"><i class="fas fa-sign-out-alt"></i> Remover Sensor</a>
                </td>
              </tr>

              <tr *ngIf="!employeeList"> 
                <td colspan="5">Nenhum funcionário cadastrado. <a routerLink="/admin/funcionarios/inserir">Cadastre um para começar.</a></td>
              </tr>
            </ng-container>
            

            </tbody>
          </table>
        </div>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link blue" *ngIf="employeeList?.number > 0" (click)="getPage(employeeList?.number - 1)" > <i class="fas fa-angle-left"></i> Página Anterior</a></li>
            <li class="page-item"><a class="page-link blue" *ngIf="employeeList?.number < (employeeList?.totalPages - 1)" (click)="getPage(employeeList?.number + 1)" >Próxima Página <i class="fas fa-angle-right"></i></a></li>
          </ul>
        </nav>

    </div>

  </div>
