<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin"><i class="fas fa-home"></i> Início</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin/sensores">  Sensores</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ operacao }}</li>
  </ol>
</nav>

<div class="row mg-top">
    <div class="col-md-6 mg-top">
      <h3>{{ operacao }} Sensor</h3>
    </div>
</div>

<div class="row mg-top">

  <div class="col-md-4 ">
    <div class="form-group">
      <label for="nome">Código (*)</label>
      <input [(ngModel)]="SensorModel.code" type="text" class="form-control" id="codigo">
    </div>
  </div> 

  <div class="col-md-4 ">
    <div class="form-group">
      <label for="nome">Descrição</label>
      <input [(ngModel)]="SensorModel.description" type="text" class="form-control" id="description">
    </div>
  </div> 

  <div class="col-md-4 ">
    <div class="form-group">
      <label for="nome">Código de Barras (*)</label>
      <input [(ngModel)]="SensorModel.barcode" type="text" class="form-control" id="barcode">
    </div>
  </div>
  <div class="col-md-4 "></div>

</div>
  

<div class="row mg-top">
    <div class="col-md-4 ">
        <button (click)="processSensor()" class="btn btn-primary">{{ acao }}</button>
        &nbsp;
        <a routerLink="/admin" class="btn btn-danger">Inativar</a>
    </div>
</div>
