.sm-mg-logo {
    margin-right: 14px;
}

.main-content {
    padding-left: 144px;
    padding-right: 22px;
    padding-top: 20px;
    width: 100%;
}

.mg-bt {
    margin-bottom: 10px;
}

.height100 {
    height: 100%;
}

.clear {
    clear: both;
}

.rspad {
    width: 18px;
}