<nav class="navbar navbar-dark green-bg z-in hwd">
  <a class="navbar-brand" href="/admin">
    <img src="/assets/iot_s.png"> Green Bin <i class="fas fa-ellipsis-v hor-sp navbar-text"></i> {{ user?.company.name }}
  </a>
  <div class="pull-right">
    <span class="navbar-text">
        <a routerLink="/admin/perfil"><i class="fas fa-user"></i> {{ user?.name }}</a>
        <i class="fas fa-ellipsis-v hor-sp"></i>
        <a [routerLink]="" (click)="logOut()"><i class="fas fa-sign-out-alt"></i> Sair</a>
      </span>
  </div>
</nav>


        <aside class="aside-menu text-justify z-in-m">
            <div class="mg-bt"><a routerLink="/admin" title="Painel Geral"><i class="fas fa-tv rspad"></i> Dashboard</a></div>
            <div class="mg-bt"><a routerLink="/admin/map" title="Mapa Geral"><i class="fas fa-map-marker-alt rspad"></i> Visão Geral</a></div>
            <div class="mg-bt"><a routerLink="/admin/funcionarios" title="Funcionários"><i class="fas fa-user-friends rspad"></i> Funcionários</a></div>
            <div class="mg-bt"><a routerLink="/admin/sensores" title="Sensores"><i class="fas fa-rss rspad"></i> Sensores</a></div>

            <div class="mg-bt">
                <i class="fas fa-ellipsis-h"></i>
            </div>

            <div class="mg-bt"><a routerLink="/admin/usuarios" title="Usuarios"><i class="fas fa-user-edit rspad"></i> Usuários</a></div>
        </aside>

        <main id="main" class="main-content row-wrap88">
            <router-outlet></router-outlet>
        </main>

        <div class="col-md-12 text-center">
            &copy; Green Bin - Todos os direitos reservados
        </div>

        <div id="cover-spin"></div>