.gmap { 
    height: 100%;
    width: 100%;
}

.map-wrapper {
    height: 100%;
}

.gmap_small  { 
    position: relative;
    width:92%;
    height:240px;
}

.caminho {
    color: orangered;
    font-size: 18px;
}