<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a routerLink="/admin"><i class="fas fa-home"></i> Painel</a></li>
    <li class="breadcrumb-item">Trajeto de Funcionário</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12">
    <h3>Trajeto de Funcionário</h3>
  </div>
</div>

<div class="mg-top"></div>


<div class="row">
    <div class="col-md-3">
      <h4>Filtrar por data</h4>
      <div class="row">
        <div class="col-md-8">
          <my-date-picker name="mydate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="date"></my-date-picker>
        </div>
      </div>
      
      <div class="mg-top">
        <b>Funcionário:</b> {{ employeeData?.name }}<br>
      </div>
      
      <div class="mg-top">
        <em>Última posição conhecida: </em> <i class="fas fa-map-marker-alt"></i> {{ employeeData?.sensor.lastKnowPosition.latitude }}, {{ employeeData?.sensor.lastKnowPosition.longitude }} <br>
        <em>Data e Hora: </em> {{ employeeData?.sensor.lastKnowPosition.date | date:'dd/MM/yyyy HH:mm' }}<br>
        <img *ngIf="url" [src]="url">
      </div>
    </div>
  
    <div class="col-md-9">
        <span class="caminho">Caminho Percorrido: {{ kmUserDistance  }} km</span>
        <div #gmapdetail class="gmap" [ngStyle]="{'min-height.px': h - 160}"></div>
    </div>
  </div>