<nav class="navbar navbar-dark green-bg">
  <a class="navbar-brand" href="#">
    <img src="/assets/iot_s.png"> Green Bin
  </a>
</nav>

<div class="d-flex justify-content-center">
  <div class="col-md-6 flex-bg">
      <h3>Acesso ao Sistema</h3>
      <br>
      <div class="form-group">
          <label for="exampleInputEmail1">Endereço de E-mail</label>
          <input type="email" [(ngModel)]="username" class="form-control" id="email" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Informe o e-mail de cadastro no sistema Green Bin.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" [(ngModel)]="password" class="form-control" id="password">
        </div>
        <button (click)="login()" class="btn btn-primary">Acessar</button>
        <div *ngIf="message" class="alert alert-danger mg-top" role="alert">
          {{ message }}
        </div>
  </div>
</div>

<div id="cover-spin"></div>