<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fas fa-home"></i> Início</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/funcionarios">  Funcionários</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ operacao }}</li>
    </ol>
  </nav>
  
  <div class="row mg-top">
      <div class="col-md-6 mg-top">
        <h3>{{ operacao }} Funcionário</h3>
      </div>
  </div>

  <div class="row mg-top">

    <div class="col-md-4 ">
      <div class="form-group">
        <label for="nome">Nome (*)</label>
        <input [(ngModel)]="EmployeeModel.name" type="text" class="form-control" id="nome">
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="form-group">
        <label for="departamento">Departamento</label>
        <input [(ngModel)]="EmployeeModel.department" type="text" class="form-control" id="departamento">
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="form-group">
        <label for="funcao">Função</label>
        <input [(ngModel)]="EmployeeModel.position" type="text" class="form-control" id="funcao">
      </div>
    </div>

  </div>

  <div class="row mg-top">

    <div class="col-md-4 ">
      <div class="form-group">
        <label for="nome">Telefone</label>
        <input [(ngModel)]="EmployeeModel.phone" type="text" class="form-control" id="telefone">
      </div>
    </div>
  
    <div class="col-md-4 ">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input [(ngModel)]="EmployeeModel.email" type="email" class="form-control" id="email">
      </div>
    </div>

    <div class="col-md-4 ">

    </div>
  
  </div>
    

  <div class="row mg-top">
      <div class="col-md-4 ">
          <button (click)="processEmployee()" class="btn btn-primary">{{ acao }}</button>
          &nbsp;
          <a routerLink="/admin" class="btn btn-danger">Inativar</a>
      </div>
  </div>