/* You can add global styles to this file, and also import other style files */

html, body
{
    height: 100% !important;
}

.green-bg {
    background-color: darkgreen;
}

.hwd {
    width: 100%;
}


.z-in {
    z-index: 999;
}

.z-in-m {
    z-index: 998; 
}

.flex-bg {
    margin-top: 60px;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 30px;
}

.aside-menu {
    position: fixed;
    top: 0px;
    font-size: 14px;
    padding: 120px 12px;
    width: 128px;
    height: 100%;
    background-color: rgb(46, 46, 46);
    color: white;
}

.aside-menu a {

    color: white;
}

.aside-menu a:hover {
    color: aquamarine;
    text-decoration: none;
}

h3 {
    font-size: 22px;
    color: rgb(71, 155, 51);
}

h4 {
    font-size: 18px;
    color: rgb(27, 84, 122);
}

#map {
    height: 400px; 
    width: 100%; 
   }

.mg-top {
    margin-top: 20px;
}

.mg-top-bg {
    margin-top: 40px;
}

.hor-sp {
    padding-left: 8px;
    padding-right: 8px;
}

a.danger {
    cursor: pointer;
    color: red !important;
}

a.blue {
    cursor: pointer;
    color: rgb(16, 79, 214) !important;
}


.map-wrapper-r {
    height: 93% !important;
    width: 100%;
}


.map-wrapper {
    min-height: 100% !important;
}

.row-wrap88 {
    min-height: 88% !important;
}

.pos-rel {
    position: relative;
}


#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.brown {
    color: brown;
}